html {
    position: relative;
    min-height: 100%;
}
input { color: black;}

body {
    background: linear-gradient(#2b2b2b, gray);
    background-image: url("../images/background/RC_Sharq_II_1229.jpg");
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    color: #2b2b2b;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Adamina', serif;
    font-size: 16px;
}

.footer {
    position: absolute;
    padding-top: 15px;
    border-radius: 5px;
    bottom: 10px;
    width: 1000px;
    background-color: #DADADA;
    opacity: 0.5;
    color: #2b2b2b;
    text-align: center;
    font-size: 14px;
}

.footerA {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 15px;
    border-radius: 5px;
    bottom: 10px;
    width: 1000px;
    background-color: #DADADA;
    opacity: 0.5;
    color: #2b2b2b;
    text-align: center;
    font-size: 14px;
}

div.title {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    text-align: center;
    color: greenyellow;
}

div.subtitle {
    
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    text-align: center;
    color: yellow;
}

div.list {
    position: relative;
    font-size: 16px;
}

div.box {
    width: 704px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gray;
    opacity: 1;
}

img {
    width: 700px;
}


font-family: 'Shrikhand', cursive; font-family: 'Alfa Slab One', cursive; font-family: 'Adamina', serif;