html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(#2b2b2b, gray);
    background-image: url("../images/background/RC_Sharq_II_1229.jpg");
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    color: #DADADA;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Adamina', serif;
    font-size: 16px;
}

.footer {
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    width: 1000px;
    height: 70px;
    background-color: #f5f5f5;
    color: #808080;
    text-align: center;
}

div.title {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    text-align: center;
    color: greenyellow;
}

div.subtitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    text-align: center;
    color: yellow;
}

div.list {
    position: relative;
    font-size: 16px;
}

div.box {
    width: 704px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid gray;
    opacity: 1;
}

img {
    width: 700px;
}

font-family: 'Shrikhand', cursive; font-family: 'Alfa Slab One', cursive; font-family: 'Adamina', serif;