<h1>Welcome to ASP Hotel Core</h1>
<p><h2>Thank you for visiting us!</h2></p><hr>
<p><h3><i>For a customer</i></h3></p>
<p><h4>If you have a membership, click here <a href="~/users/login">Sign in</a></h4></p>
<p><h4>If you are new here, click here <a href="~/users/register">Sign up</a></h4></p>
<p><h4>If you want to update your information, click here <a href="~/users/Edit">Update</a></h4></p>
<p><h4>If you want to see the list of rooms, click here <a href="~/Rooms/Index">Room list</a></h4></p>
<p><h4>If you want to book a room, click here <a href="~/Bookings/Create">Book a room</a></h4></p><hr>
<p><h3><i>For an administrator</i></h3></p>
<p><h4>If you want to create a room, click here <a href="~/Rooms/Create">Create a room</a></h4></p>
<p><h4>If you want to see the list of members, click here <a href="~/users/Index">Customer list</a></h4></p>
<p><h4>If you want to see the list of rooms, click here <a href="~/Rooms/Index">Room list</a></h4></p>
<p><h4>If you want to see the list of bookings, click here <a href="~/Bookings/Index">Booking list</a></h4></p>