<!DOCTYPE html>
<html>
    <head>
     <title>ASP Hotel Core</title>
    </head>
    <body>
    <h1>Welcome to ASP Hotel Core</h1>
        <p><h3>Thank you for visiting us!</h3></p>
        <p><h4>If you have a membership, click here <a href="~/Customers/Index">Sign in</a></h4></p>
        <p><h4>If you are new here, click here <a href="~/Customers/Create">Sign up</a></h4></p>
        <p><h4>If you are an administrator, click here <a href="~/Rooms/Create">Manage rooms</a></h4></p>
        <p><h4>If you want to see the list of rooms, click here <a href="~/Rooms/Index">Room list</a></h4></p>
        <p><h4>If you want to book a room, click here <a href="~/Bookings/Create">Book a room</a></h4></p>
        <p><h4>If you are an administrator, click here <a href="~/Bookings/Index">Manage bookings</a></h4></p>
    </body>
</html>