<div class="title">Welcome to Hotel ASP Core</div>
<div class="subtitle">Thank you for visiting us!</div><hr>
<p><h3><i>For a customer</i></h3></p>
<ul>
    <li>
        <h4>If you have a membership, click here <a href="~/users/login">Sign in</a></h4>
    </li>
    <li>
        <h4>If you are new here, click here <a href="~/users/register">Sign up</a></h4>
    </li>
    <li>
        <h4>If you want to update your information, click here <a href="~/users/edit">Edit</a></h4>
    </li>
    <li>
        <h4>If you want to see the list of rooms, click here <a href="~/rooms/index">Room list</a></h4>
    </li>
    <li>
        <h4>If you want to book a room, click here <a href="~/bookings/create">Book a room</a></h4>
    </li>
</ul><hr>
<p><h3><i>For an administrator</i></h3></p>
<ul>
    <li>
        <h4>If you want to create a room, click here <a href="~/rooms/create">Create a room</a></h4>
    </li>
    <li>
        <h4>If you want to see the list of users, click here <a href="~/users/index">User list</a></h4>
    </li>
    <li>
        <h4>If you want to see the list of rooms, click here <a href="~/rooms/index">Room list</a></h4>
    </li>
    <li>
        <h4>If you want to see the list of bookings, click here <a href="~/bookings/index">Booking list</a></h4>
    </li>
</ul>