@model RoomsCreateVM

<h1>Create a room</h1>
<form asp-controller="rooms" asp-action="create">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span style="color:red" asp-validation-for="Name"></span> <br />
    <label asp-for="Number"></label>
    <input asp-for="Number" />
    <span style="color:red" asp-validation-for="Number"></span> <br />
    <label asp-for="Size"></label>
    <input asp-for="Size" />
    <span style="color:red" asp-validation-for="Size"></span> <br />
    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span style="color:red" asp-validation-for="Price"></span> <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span style="color:red" asp-validation-for="Description"></span> <br />

    <input type="submit" value="Submit" />
</form>