@using BookingWebsite.Models
@model RoomsCreateVM
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>Create a room</title>
        <script src="~/js/JavaScript.js"></script>
    </head>
    <body>
        <form asp-controller="rooms" asp-action="create">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span style="color:red" asp-validation-for="Name"></span> <br />
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span style="color:red" asp-validation-for="Description"></span> <br />

            <input type="submit" value="Submit" onclick="RegistrationMessage()" />
        </form>
    </body>
</html>