@using BookingWebsite.Models.Entities;
@model Room
<!DOCTYPE html>
<html>
<head>
    <title>Room Details</title>
</head>
<body>
        <h1>@Model.Name</h1>
            <ul>
                <li>@Model.Size</li>
                <li>@Model.Price</li>
                <li>@Model.Description</li>
            </ul>

</body>
</html>