@using BookingWebsite.Models;
@model RoomsEditVM

<div class="container">
    <form asp-controller="rooms" asp-action="edit">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" />
                <span style="color: red" asp-validation-for="Name"></span> <br />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Number" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Number" />
                <span style="color: red" asp-validation-for="Number"></span> <br />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Price" />
                <span style="color: red" asp-validation-for="Price"></span> <br />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Size" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Size" />
                <span style="color: red" asp-validation-for="Size"></span> <br />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Description" />
                <span style="color: red" asp-validation-for="Description"></span> <br />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <input type="submit" value="Change" />
            </div>
        </div>
    </form>
</div>
<p><h4><a href="~/rooms/index">Back to room list</a></h4></p>
