@using BookingWebsite.Models.Entities
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model RoomsIndexVM[]

<!DOCTYPE html>
<html>
    <head>
        <title>Room list</title>
    </head>
    <body>
        <h3>List of rooms</h3>
        @foreach (var room in Model)
        {
            <ul>
                <li><h4><a asp-controller="rooms" asp-action="detail" asp-route-id="@room.Id">@room.Name </a><a asp-controller="Rooms" asp-action="Delete" asp-route-id="@room.Id">(Delete)</a></h4></li>
            </ul>
        }
    </body>
</html>