@model RoomsIndexVM[]

<div class="title">List of rooms</div>
<div class="subtitle">Here is the list of all rooms of Hotel ASP Core.</div>

@foreach (var item in Model)
{
        <ul>
            <li><h3><a asp-controller="rooms" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></h3></li>
            <li><a asp-controller="rooms" asp-action="edit" asp-route-id="@item.Id">Edit</a></li>
            <li><a asp-controller="rooms" asp-action="delete" asp-route-id="@item.Id">Delete</a></li>
        </ul>

}
<br />
<br />
<br />
<br />
<br />
<br />
<br />