@using BookingWebsite.Models.Entities;
@model Room[]
<!DOCTYPE html>
<html>
    <head>
        <title>List of rooms</title>
    </head>
    <body>
        @foreach (var item in Model)
        {
            <h1>@item.Name</h1>
            <ul>
                <li>@item.Size</li>
                <li>@item.Price</li>
                <li>@item.Description</li>
            </ul>
            
        }
    </body>
</html>