@using BookingWebsite.Models.Entities
@model User[]

<!DOCTYPE html>
<html>
    <head>
        <title>User list</title>
    </head>
    <body>
        <div class="title">List of users</div>
        <div class="subtitle">Here you can see the list of all registered users. Click userID to see the details.</div><br />
        @foreach (var user in Model)
        {
            <ul>
                <li><h4><a asp-controller="users" asp-action="detail" asp-route-id="@user">@user.FirstName @user.LastName (@user.Id)</a></h4></li>
            </ul>
        }
    </body>
</html>