@model BookingsCreateVM

<div class="title">You have booked a room.</div>
<div class="subtitle">Thank you very much for your booking. We strive to provide our customers with the best service.</div><br />
<div class="list">
    <ul>
        <li>Model Room Id: @Model.RoomId</li>
        <li>User Id: @Model.UserId</li>
        <li>Start Date: @Model.StartDate</li>
        <li>End Date: @Model.EndDate</li>
    </ul>
</div>
