@using BookingWebsite.Models.Entities
@model Booking
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>Booking change</title>
    </head>
    <body>
        <h1>Chage your booking</h1>
        <form asp-controller="bookings" asp-action="edit">
            <label asp-for="RoomId"></label>
            <input asp-for="RoomId">
            <span style="color:red" asp-validation-for="RoomId"></span> <br />
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" placeholder="MM/dd/yyyy">
            <span style="color:red" asp-validation-for="StartDate"></span> <br />
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate">
            <span style="color:red" asp-validation-for="EndDate"></span> <br />
            <input type="submit" value="Submit">
        </form>
        <p><h4><a href="~/Bookings/Index">Back to booking list</a></h4></p>
        <p><h4><a href="~/Home/Index">Back to main page</a></h4></p>
    </body>
</html>