@using BookingWebsite.Models.Entities;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Booking[]
<!DOCTYPE html>
<html>
    <head>
        <title>Booking list</title>
    </head>
    <body>
        <h1>List of customer bookings</h1>
        @foreach (var item in @Model)
        {
            <ul>
                <li><a asp-controller="Bookings" asp-action="Detail" asp-route-id="@item.BookingId">Booking no.@item.BookingId  (by customer id @item.Customer_Id / room id @item.Room_Id)</a></li>
            </ul>
        }
        <p><h4><a href="~/Home/Index">Back to main page</a></h4></p>
    </body>
</html>