@using BookingWebsite.Models.Entities;
@model Customer[]
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
       @foreach (var item in Model)
       {
           <h1>@item.FirstName</h1>
           <h1>@item.LastName</h1>
           <h1>@item.SocialSecurityNumber</h1>
       }
    </body>
</html>